{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content_title %}
    <div class="row justify-content-center mt-5">
        <div class="col-6">Register</div>
    </div>

{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('reg_user') }}" method="POST" enctype="multipart/form-data">
                <input type="text" class="form-group form-control" placeholder="Enter nickname" name="nickname">
                <input type="text" class="form-group form-control" placeholder="Enter e-mail" name="email">
                <input type="password" class="form-group form-control" placeholder="Enter password" name="password">
                <input type="password" class="form-group form-control" placeholder="Confirm password"
                       name="confirm_password">
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>

{% endblock %}
